<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>{{ title }} - Josh Kingsley</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>{{ title }}</h1>
      <p>
        <time datetime="{{ date | dateString }}" title="{{ date | dateString }}">
          {{ date | localeDateString }}
        </time>
      </p>
      {{ contents | safe }}
    </main>
    <footer>
      <hr>
      <p>Thank you for reading! If you'd like to comment on this post, consider reaching out to me:</p>
      <nav>
        <ul>
          <li><a href="mailto:josh@joshkingsley.me">josh@joshkingsley.me</a></li>
          <li>GitHub: <a href="https://github.com/jkxyz">@jkxyz</a></li>
          <li>Mastodon: <a rel="me" href="https://hostux.social/@jkxyz">@jkxyz@hostux.social</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
